:root {
	/* colors */
	--color-black: #0b191f;
	--color-white: #f5f5f5;
	--color-gray: #8ca7cc;
	--color-green: #63cd6b;
	--color-blue: #55a4c5;
	--color-red: #840403;
	--color-back: var(--color-black);
	--color-front: var(--color-white);
	--color-accent: var(--color-green);

	/* fonts stacks */
	--font-stack-common: "Alegreya Sans", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	--font-stack-heading: "Spectral SC", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

	/* font sizes */
	--font-size-base: 16px;
	--font-size-small: 0.8rem;
	--font-size-medium: 1rem;
	--font-size-large: 1.2rem;

	/* transitions */
	--timing-xfast: .2s;
	--timing-fast: .25s;
	--timing-medium: .3s;
	--timing-slow: .5s;
	--timing-xslow: .75s;

	@media (prefers-reduced-motion: reduce) {
		--timing-xfast: 0;
		--timing-fast: 0;
		--timing-medium: 0;
		--timing-slow: 0;
		--timing-xslow: 0;
	}

	/* Scrollbars */
	--scrollbar-color: var(--color-accent);
	--scrollbar-width: thin;

	@media (prefers-reduced-motion: reduce) {
		--scrollbar-width: auto;
	}
}
